node_modules/
.next/
out/
dist/
build/
coverage/
output/
.vercel/

.env*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.next-dev.log
.next-dev.err.log
.next-start-*.log
.next-start-*.err.log
*.tsbuildinfo
